.row:before, .row:after{
    content: "";
    display: table;
}

.span-1-of-2 {
    width: 49.2%;
}

.col{
    display: block;
    float: left;
    margin: 1% 0% 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}